@model SaleManagementSystem.Model.DAL.Delivery

@{
    Layout = "~/Views/Shared/_LayoutForModal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detail Deliveries</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="row">
                            <div class="form-group row col-md-6">
                                @Html.LabelFor(model => model.SaleId, "Sale Code", htmlAttributes: new { @class = "control-label col-md-4 mt-2 text-right" })
                                <div class="col-md-8">
                                    @Html.DropDownList("SaleId", null, "Select a Sale Code", htmlAttributes: new { @id = "sale", @class = "form-control", required = "required", title = "Sale Code is required" })
                                    @Html.ValidationMessageFor(model => model.SaleId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row col-md-6">
                                @Html.LabelFor(model => model.Sale.CustomerId, htmlAttributes: new { @class = "control-label col-md-4 mt-2 text-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Sale.Customer.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group row col-md-6">
                                @Html.LabelFor(model => model.Sale.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4 mt-2 text-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Sale.Employee.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Employee", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group row col-md-6">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4 mt-2 text-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Quantity" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group row col-md-6">
                                @Html.LabelFor(model => model.DeliveriedDate, htmlAttributes: new { @class = "control-label col-md-4 mt-2 text-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.DeliveriedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select a date" } })
                                    @Html.ValidationMessageFor(model => model.DeliveriedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.IsDeleted)
                        @Html.HiddenFor(model => model.InsAt)
                        @Html.HiddenFor(model => model.InsBy)
                    </div>
                </div><!-- /.modal-body -->
                <div class="modal-footer">
                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Save" class="btn btn-default" id="save" />
                        <button type="button" class="btn btn-light" style=" border: 0.5px solid #a8a9ad;" data-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#sale').change(function () {
                $.ajax({
                    url: "/Deliveries/PopulateItem",
                    type: "post",
                    data: { id: $(this).val() },
                    data1: { id: $(this).val() },
                    success: function (res) {
                        if (res.data === null && res.data1 == null) {
                            $('#Sale_Employee_Name').val("");
                            $('#Sale_Customer_Name').val("");
                        } else {
                            $('#Sale_Employee_Name').val(res.data1.Name);
                            $('#Sale_Customer_Name').val(res.data.Name);
                        }
                    },
                    error: function (res) {
                        console.log(res);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#DeliveriedDate').datepicker({
                todayBtn: "linked",
                todayHighlight: true,
                orientation: "left",
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        });
    </script>
}