@model IEnumerable<SaleManagementSystem.Model.DAL.Item>

@{
    ViewBag.Title = "Items Listing";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="row col-md-12">
            <div class="form-group col-md-6 row">
                <label class="col-md-3 mt-2">Name:</label>
                @Html.TextBox("searchName", null, htmlAttributes: new { @class = "form-control col-md-8", @placeholder = "Enter Name" })
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6 row">
                <label class="col-md-3 mt-2">Amount:</label>
                @Html.TextBox("searchMinAmount", null, htmlAttributes: new { @class = "form-control col-md-8", @placeholder = "Enter Min", type = "number", step = "0.01" })
            </div>
            <div class="form-group col-md-6 row">
                @Html.TextBox("searchMaxAmount", null, htmlAttributes: new { @class = "form-control col-md-8", @placeholder = "Enter Max", type = "number", step = "0.01" })
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group col-md-6 row">
                <label class="col-md-3 mt-2">Expired Date:</label>
                @Html.TextBox("searchMinDate", null, htmlAttributes: new { @class = "form-control col-md-8", @id = "minDate", @placeholder = "Select a from date" })
            </div>
            <div class="form-group col-md-6 row">
                @Html.TextBox("searchMaxDate", null, htmlAttributes: new { @class = "form-control col-md-8", @id = "maxDate", @placeholder = "Select a to date" })
            </div>
        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-default mr-2"><i class="fa fa-search"></i> Search</button>
        <a class="btn btn-default dialog-link" href="@Url.Action("Create")"><i class="fas fa-plus"></i> Add new</a>
    </p>
}

<div class="table-responsive">
    <table class="table table table-bordered table-striped table-hover">
        <tr style="background: #025215;" class="text-light">
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <a class="ml-2 text-light" href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm, searchName = ViewBag.Name, searchMinAmount = ViewBag.MinAmount, searchMaxAmount = ViewBag.MaxAmount, searchMinDate = ViewBag.MinDate, searchMaxDate = ViewBag.MaxDate })"><i class="fas fa-sort"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
                <a class="ml-2 text-light" href="@Url.Action("Index", new { sortOrder = ViewBag.AmountSortParm, searchName = ViewBag.Name, searchMinAmount = ViewBag.MinAmount, searchMaxAmount = ViewBag.MaxAmount, searchMinDate = ViewBag.MinDate, searchMaxDate = ViewBag.MaxDate })"><i class="fas fa-sort"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExpired)
                <a class="ml-2 text-light" href="@Url.Action("Index", new { sortOrder = ViewBag.DateSortParm, searchName = ViewBag.Name, searchMinAmount = ViewBag.MinAmount, searchMaxAmount = ViewBag.MaxAmount, searchMinDate = ViewBag.MinDate, searchMaxDate = ViewBag.MaxDate })"><i class="fas fa-sort"></i></a>
            </th>
            <th class="text-center">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateExpired)
                </td>
                <td class="text-center">
                    <a class="text-default dialog-link" href="@Url.Action("Edit", new { id = item.Id })"><i class="fas fa-edit"></i></a>
                    <a class="dialog-link text-danger ml-1" data-toggle="tooltip" data-placement="bottom" title="Delete" href="@Url.Action("Delete", new { id = item.Id })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    @if (Model.Count() <= 0)
    {
        <div class="text-center">No data to display</div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#minDate').datepicker({
                todayBtn: "linked",
                todayHighlight: true,
                orientation: "left",
                format: 'mm/dd/yyyy',
                autoclose: true,
            }).on('changeDate', function (selected) {
                var startDate = new Date(selected.date.valueOf());
                $('#maxDate').datepicker('setStartDate', startDate);
            }).on('clearDate', function (selected) {
                $('#maxDate').datepicker('setStartDate', null);
            });

            $('#maxDate').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayBtn: "linked",
                todayHighlight: true,
                orientation: "left",
            }).on('changeDate', function (selected) {
                var endDate = new Date(selected.date.valueOf());
                $('#minDate').datepicker('setEndDate', endDate);
            }).on('clearDate', function (selected) {
                $('#minDate').datepicker('setEndDate', null);
            });
        });
    </script>
}
